body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0D0D0D;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #404040;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
    color: #737373;
  }
  
  p {
    text-align: center;
    margin-bottom: 35px;
    color: #737373;
    font-size: 1.1em;
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .campo {
    margin-bottom: 25px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #BFBFBF;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #BFBFBF;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus,
  select:focus {
    border-color: #F2F2F2;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
  }
  
  button {
    background-color: #737373;
    color: #F2F2F2;
    padding: 14px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1em;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #BFBFBF;
  }
  
  button:active {
    background-color: #404040;
  }
  
  textarea {
    resize: vertical;
    min-height: 120px;
  }
  
  .campo {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.campo.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#formStatus {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #ffa500;
  text-align: center;
}